<footer id="footer" class="footer">
    <div class="copyright">
    <div class="container">
    <div class="copyright-inner">
    <div>
    <div id="block-krowd-sub-copyright" class="block block-block-content block-block-content61f17841-749f-436d-9799-1dfeefd7ad43 no-title">
    <div class="content block-content">
    <div class="field field--name-body field--type-text-with-summary field--label-hidden field__item"><div class="text-center">
    © Copyright <a href="https://themeforest.net/user/gavias">Exilir Funds</a> 2022. All Rights Reserved.
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</footer>
    