<header id="header" class="header-default header-v1">
    <div class="topbar">
    <div class="container">
    <div class="row">
    <div class="col-12">
    <div class="topbar-content">
    <div class="topbar-left">
    <div>
    <div id="block-topbarinformation" class="block block-block-content block-block-contentf1d586a4-4ec8-4a2b-922c-104e3215b17b no-title">
    <div class="content block-content">
    <div class="field field--name-body field--type-text-with-summary field--label-hidden field__item"><div class="topbar-information">
    <ul class="infor-list">
    <li class="email"><i class="fi flaticon-email-1">&nbsp;</i>exilirfundsmav@gmail.com</li>
    <li class="phone"><i class="fi flaticon-pin">&nbsp;</i>Gandhinagar, India</li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="topbar-right">
    <div class="topbar-button">
    <a href="#" class="btn-header">
    <i aria-hidden="true" class="fi flaticon-plus"></i>
    Donate Now
    </a>
    </div>
    <div class="gva-user-region user-region">
    <span class="icon">
    <i class="fa fa-user"></i>
    </span>
    <div class="user-content"style="background-color: black;">
    <ul class="user-links">
    <li><a href="user/login.html">Login</a></li>
    <li><a href="user/register.html">Register</a></li>
    </ul>
    </div>
    </div>
    <div class="gva-search-region search-region">
    <div class="search-content">
    <div>
    </div>
    </div>
    </div>
    <div class="gva-cart-region cart-region">
    <div>
    <div id="block-krowd-sub-cart" class="block block-commerce-cart no-title">
    <div class="content block-content">
    <div class="cart--cart-block">
    <div class="cart-block--contents">
    <div class="cart-block--contents__inner">
    <div class="cart-block--contents__items">
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="header-main">
    <div class=" header-content-layout  gv-sticky-menu">
    <div class="container">
    <div class="row">
    <div class="col-12">
    <div class="header-main-inner p-relative">
    <div class="header-inner clearfix">
    <div class="branding">
    <div>
    <a href="index.html" title="Home" rel="home" class="site-branding-logo">
    <img class="logo-default" src="themes/custom/krowd_sub/logo.png" alt="Home" />
    <img class="logo-default logo-white" src="themes/custom/krowd_sub/logo-white.png" alt="Home" />
    </a>
    </div>
    </div>
    <div class="main-menu">
    <div class="area-main-menu">
    <div class="area-inner">
    <div class="header-menu">
    <div class="gva-offcanvas-mobile">
    <div class="close-offcanvas d-none"><i class="gv-icon-8"></i></div>
    <div class="main-menu-inner">
    <div>
    <nav aria-labelledby="block-krowd-sub-mainnavigation-menu" id="block-krowd-sub-mainnavigation" class="block block-menu navigation menu--main">
    <h2 class="visually-hidden block-title block-title" id="block-krowd-sub-mainnavigation-menu"><span>Main navigation</span></h2>
    <div class="block-content">
    <div class="gva-navigation">
    <ul class="clearfix gva_menu gva_menu_main">
    <li class="menu-item menu-item--expanded">
    <a href="/"> Home<span class="icaret nav-plus"></span> </a>
    </li>
    <li class="menu-item menu-item--expanded ">
    <a href="campaigns.html"> Start a FundRaiser<span class="icaret nav-plus"></span> </a>
    </li>
    <li class="menu-item ">
    <a href="/contact"> Contact </a>
    </li>
    </ul>
    </div>
    </div>
    </nav>
    </div>
    </div>
    </div>
    <div id="menu-bar" class="menu-bar">
    <span class="one"></span>
    <span class="two"></span>
    <span class="three"></span>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="header-right">
    <div>
    <div id="block-headersupport" class="block block-block-content block-block-contenta6072ff6-daa3-43e9-9c76-0628bff58a56 no-title">
    <div class="content block-content">
    <div class="field field--name-body field--type-text-with-summary field--label-hidden field__item"><div class="header-info">
    <div class="header-icon"><i class="fi flaticon-chat"></i></div>
    <div class="header-content">
    <h3 class="title"><a href="tel:9033377084">Call Anytime</a></h3>
    <div class="text">+91 9033377084</div>
    </div>
    </div> </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </header>
    