<!DOCTYPE html>
<html lang="en" dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# ">

<!-- Mirrored from previewthemes.com/krowd/contact-us by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 02 Mar 2022 17:06:07 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
<meta charset="utf-8" />
<meta name="Generator" content="Drupal 9 (https://www.drupal.org); Commerce 2" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="core/misc/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="canonical" href="contact-us.html" />
<link rel="shortlink" href="node/106.html" />
<title>Contact Us | Krowd - Crowdfunding &amp; Charity Drupal 9 Theme</title>
<link rel="stylesheet" media="all" href="sites/default/files/css/css_Inme6sxQvbLjreYsiu20VLx5nsFFJKLlDkPA7MRC5y0.css" />
<link rel="stylesheet" media="all" href="http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&amp;display=swap" />
<link rel="stylesheet" media="all" href="http://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&amp;display=swap" />
<link rel="stylesheet" media="all" href="sites/default/files/css/css_u2qOcv3Rft2crTOnQPi84aY2P9MhN5kojk6_g6WfeRI.css" />
<script type="application/json" data-drupal-selector="drupal-settings-json">{"path":{"baseUrl":"\/krowd\/","scriptPath":null,"pathPrefix":"","currentPath":"node\/106","currentPathIsAdmin":false,"isFront":false,"currentLanguage":"en"},"pluralDelimiter":"\u0003","suppressDeprecationErrors":true,"ajaxTrustedUrl":{"form_action_p_pvdeGsVG5zNF_XLGPTvYSKCf43t8qZYSwcfZl2uzM":true,"\/krowd\/search\/node":true},"user":{"uid":0,"permissionsHash":"2bddcdb984f10091956b0d414eef0381b359ef2a7c1cb6775893e58543350ff2"}}</script>
<script src="sites/default/files/js/js_Aqts2-Y0J9ZRpd6n1buLHV935bVZI9c7b-E47sv--o4.js"></script>
<style type="text/css">.el-60746233 > .bb-inner{padding-top:65px; padding-bottom:120px}
@media(max-width: 1199.98px){.el-60746233 > .bb-inner{padding-top:25px; padding-bottom:70px}}
.el-99664255{padding-top:80px; padding-right:50px; padding-bottom:50px; padding-left:50px}
.el-27979357{padding-top:80px; padding-right:50px; padding-bottom:50px; padding-left:50px}
.el-24297195{padding-top:80px; padding-right:50px; padding-bottom:50px; padding-left:50px}
.el-40854811 > .bb-inner{padding-top:0px; padding-bottom:0px}
.el-61368749 > .bb-inner{padding-top:0px; padding-bottom:0px}
</style>
</head>
<body class="hidden-title gavias-pagebuilder layout-no-sidebars wide not-preloader path-node node--type-page">
<div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
<div class="body-page gva-body-page">
<%- include("./partials/navbar.ejs")%>
<div class="breadcrumbs">
<div>
<div class="breadcrumb-content-inner">
<div class="gva-breadcrumb-content">
<div id="block-krowd-sub-breadcrumbs" class="text-light block gva-block-breadcrumb block-system block-system-breadcrumb-block no-title">
<div class="breadcrumb-style gva-parallax-background" style="background-color: #F6F6F6;background-image: url(sites/default/files/gva-sliderlayer-upload/slider-3.jpg);background-position: center top;background-repeat: no-repeat;">
<div class="breadcrumb-content-main">
<h2 class="page-title">Contact Us </h2>
<div class="breacrumb-link-content">
<div class="">
<div class="content block-content"><div class="breadcrumb-links">
<div class="content-inner">
<nav class="breadcrumb " aria-labelledby="system-breadcrumb">
<h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
</nav>
</div>
</div> </div>
</div>
</div>
</div>
<div class="gva-parallax-inner skrollable skrollable-between" data-bottom-top="top: -50%;" data-top-bottom="top: 50%;"></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div role="main" class="main main-page">
<div class="clearfix"></div>
<div class="help gav-help-region">
<div class="container">
<div class="content-inner">
<div>
<div data-drupal-messages-fallback class="hidden"></div>
</div>
</div>
</div>
</div>
<div class="clearfix"></div>
<div id="content" class="content content-full">
<div class="container-full">
<div class="content-main-inner">
<div id="page-main-content" class="main-content">
<div class="main-content-inner">
<div class="content-main">
<div>
<div id="block-krowd-sub-mainpagecontent" class="block block-system block-system-main-block no-title">
<div class="content block-content">

<article data-history-node-id="106" role="article" typeof="schema:WebPage" class="node node--type-page node--view-mode-full">
<header>
<div class="container">
<h2 class="title"><span><span property="schema:name">Contact Us</span>
</span></h2>
</div>
</header>
<div class="node__content clearfix">
<div class="gavias-builder--content"> <div class="gbb-row-wrapper">
<div class=" gbb-row  bg-size-cover el-60746233 ">
<div class="bb-inner default">
<div class="bb-container container">
<div class="row row-wrapper">
<div class="gsc-column el-56784025 col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12   ">
<div class="column-inner  bg-size-cover ">
<div class="column-content-inner">
</div>
</div>
</div>
<div class="gsc-column el-54330844 col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-12   ">
<div class="column-inner  bg-size-cover ">
<div class="column-content-inner">
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="gbb-row-wrapper">
<div class=" gbb-row  bg-size-cover el-40854811 ">
<div class="bb-inner default">
<div class="bb-container container-fw">
<div class="row row-wrapper">
<div class="gsc-column el-99664255 col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12   " style="background-color:#674df0">
<div class="column-inner  bg-size-cover ">
<div class="column-content-inner">
<div class="widget gsc-icon-box left v3 box-margin-small effect icon-background">
<div class="highlight-icon verticle-align-top">
<span class="icon-inner ">
<span class="icon-container fa-4x radius-5x  fa-stack color-white" style="background: #1b1f2e1a;">
<span class="icon fi flaticon-entrepreneur"></span> </span>
</span>
</div>
<div class="highlight_content verticle-align-top">
<h3 class="title fsize-24 text-white">About Exilir Funds</h3>
<div class="desc text-gray-light "><div>Exilir Funds is an crowdfunding platform where people can donate to help someone.</div></div>
</div>
</div>
</div>
</div>
</div>
<div class="gsc-column el-27979357 col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12   " style="background-color:#1b1f2e">
<div class="column-inner  bg-size-cover ">
<div class="column-content-inner">
<div class="widget gsc-icon-box left v3 box-margin-small effect icon-background">
<div class="highlight-icon verticle-align-top">
<span class="icon-inner ">
<span class="icon-container fa-4x radius-5x  fa-stack color-white" style="background: #29f0b4;">
<span class="icon fi flaticon-location-1"></span> </span>
</span>
</div>
<div class="highlight_content verticle-align-top">
<h3 class="title text-white">Our Address</h3>
<div class="desc text-gray "><div>66 Road Brokln Street, Gandhinagar,Gujarat, India</div>
<div>P.O Box 0000</div></div>
</div>
</div>
</div>
</div>
</div>
<div class="gsc-column el-24297195 col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12   " style="background-color:#29f0b4">
<div class="column-inner  bg-size-cover ">
<div class="column-content-inner">
<div class="widget gsc-icon-box left v3 box-margin-small effect icon-background">
<div class="highlight-icon verticle-align-top">
<span class="icon-inner ">
<span class="icon-container fa-4x radius-5x  fa-stack color-white" style="background: #1b1f2e1a;">
<span class="icon fi flaticon-contact"></span> </span>
</span>
</div>
<div class="highlight_content verticle-align-top">
<h3 class="title text-black">Call Or Email</h3>
<div class="desc text-black ">
<div><a href="#" class="__cf_email__" data-cfemail="a2cbccc4cde2c9d0cdd5c68cc1cdcf">exilirfundsmav@gmail.com</a></div>
<div>666 888 0000</div></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="gbb-row-wrapper">
<div class=" gbb-row  bg-size-cover el-61368749 ">
<div class="bb-inner default">
<div class="bb-container container-fw">
<div class="row row-wrapper">
<div class="gsc-column el-15447584 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12   ">
<div class="column-inner  bg-size-cover ">
<div class="column-content-inner">
<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAvOhtbl4wK5vOq3YZuc-gkldJTxI13eY4&amp;ver=4.9.8"></script>
<script src="themes/custom/krowd/vendor/gmap3.html"></script>
<script src="themes/custom/krowd/vendor/jquery.ui.map.min.html"></script>
<div class="gsc-map ">
<div id="map_canvas_7s9m6" class="map_canvas" style="width:100%; height:560px;"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</article>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<%- include("./partials/footer.ejs")%>
</div>
<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="sites/default/files/js/js_KqnO4x-YUQw5OomK7b0xa_FalzfAFcmNBoXfmEOudOg.js"></script>
</body>

<!-- Mirrored from previewthemes.com/krowd/contact-us by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 02 Mar 2022 17:06:10 GMT -->
</html>
