<!DOCTYPE html>
<html lang="en" dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# ">

<!-- Mirrored from previewthemes.com/krowd/home-2 by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 02 Mar 2022 17:05:07 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
<meta charset="utf-8" />
<meta name="Generator" content="Drupal 9 (https://www.drupal.org); Commerce 2" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="core/misc/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="canonical" href="home-2.html" />
<link rel="shortlink" href="node/2.html" />
<title>Exilir Funds</title>
<link rel="stylesheet" media="all" href="sites/default/files/css/css_bB6b9CYtD-T-uyT8qYSOg7Pu5ZvgA8mTjjaa4TezX44.css" />
<link rel="stylesheet" media="all" href="http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&amp;display=swap" />
<link rel="stylesheet" media="all" href="http://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&amp;display=swap" />
<link rel="stylesheet" media="all" href="sites/default/files/css/css_u2qOcv3Rft2crTOnQPi84aY2P9MhN5kojk6_g6WfeRI.css" />
<script type="application/json" data-drupal-selector="drupal-settings-json">{"path":{"baseUrl":"\/krowd\/","scriptPath":null,"pathPrefix":"","currentPath":"node\/2","currentPathIsAdmin":false,"isFront":false,"currentLanguage":"en"},"pluralDelimiter":"\u0003","suppressDeprecationErrors":true,"ajaxTrustedUrl":{"form_action_p_pvdeGsVG5zNF_XLGPTvYSKCf43t8qZYSwcfZl2uzM":true,"\/krowd\/search\/node":true},"user":{"uid":0,"permissionsHash":"2bddcdb984f10091956b0d414eef0381b359ef2a7c1cb6775893e58543350ff2"}}</script>
<script src="sites/default/files/js/js_Aqts2-Y0J9ZRpd6n1buLHV935bVZI9c7b-E47sv--o4.js"></script>
<style type="text/css">.el-11671741{padding-right:85px}
@media(max-width: 1199.98px){.el-11671741{padding-right:15px; padding-bottom:60px}}
.el-78000791 > .bb-inner{margin-bottom:60px}
.el-20330196{margin-top:-10px}
.el-68077997 > .bb-inner{padding-top:120px; padding-bottom:120px}
@media(max-width: 1199.98px){.el-68077997 > .bb-inner{padding-top:70px; padding-bottom:70px}}
.el-85975649 > .bb-inner{padding-top:110px}
@media(max-width: 1199.98px){.el-85975649 > .bb-inner{padding-top:60px; padding-bottom:10px}}
.el-82489210 > .bb-inner{padding-top:40px; padding-right:20px; padding-bottom:30px; padding-left:20px}
@media(max-width: 1199.98px){.el-82489210 > .bb-inner{padding-top:60px; padding-bottom:70px}}
@media(max-width: 991.98px){.el-12044241{margin-top:40px}}
.el-27643261 > .bb-inner{padding-top:250px; padding-bottom:120px; margin-top:-160px}
@media(max-width: 1199.98px){.el-27643261 > .bb-inner{padding-top:70px; padding-bottom:70px; margin-top:0px}}
.el-78527549 > .bb-inner{padding-top:60px; padding-bottom:60px}
.el-20464429 > .bb-inner{padding-top:120px; padding-bottom:120px}
@media(max-width: 1199.98px){.el-20464429 > .bb-inner{padding-top:70px; padding-bottom:70px}}
.el-53569500{padding-right:55px}
.el-94236303{padding-top:15px; padding-bottom:15px}
@media(max-width: 991.98px){.el-94236303{padding-top:0px; padding-bottom:0px; margin-bottom:50px}}
.el-97276032{padding-right:55px}
@media(max-width: 991.98px){.el-97276032{padding-bottom:40px}}
.el-3095454{padding-right:30px}
.el-59301512{padding-left:0px}
@media(max-width: 991.98px){.el-59301512{padding-left:15px}}
.el-17124772 > .bb-inner{padding-top:110px; padding-bottom:110px}
@media(max-width: 1199.98px){.el-17124772 > .bb-inner{padding-top:60px; padding-bottom:60px}}
.el-810283 > .bb-inner{padding-top:110px; padding-bottom:120px}
@media(max-width: 1199.98px){.el-810283 > .bb-inner{padding-top:60px; padding-bottom:70px}}
.el-89029829 > .bb-inner{padding-top:110px; padding-bottom:90px}
@media(max-width: 1199.98px){.el-89029829 > .bb-inner{padding-top:60px; padding-bottom:40px}}
.el-25178997{padding-right:50px; padding-left:50px}
@media(max-width: 1199.98px){.el-25178997{padding-top:30px; padding-right:30px; padding-bottom:30px; padding-left:30px}}
.el-23984591{padding-right:0px; padding-left:0px}
.el-84706562 > .bb-inner{padding-top:120px; padding-bottom:120px}
@media(max-width: 1199.98px){.el-84706562 > .bb-inner{padding-top:70px; padding-right:15px; padding-bottom:70px; padding-left:15px}}
.el-2308488 > .bb-inner{padding-top:110px; padding-bottom:110px}
@media(max-width: 1199.98px){.el-2308488 > .bb-inner{padding-top:60px; padding-bottom:60px}}
.el-48345661 > .bb-inner{padding-top:40px; padding-bottom:40px}
@media(max-width: 1199.98px){.el-48345661 > .bb-inner{padding-top:0px; padding-bottom:0px}}
.el-94502462{padding-top:80px; padding-right:80px; padding-bottom:80px; padding-left:80px}
@media(max-width: 1199.98px){.el-94502462{padding-top:70px; padding-right:15px; padding-bottom:70px; padding-left:15px}}
.el-97761176 > .bb-inner{padding-top:0px; padding-bottom:0px}
</style>
</head>
<body class="hidden-title gavias-pagebuilder layout-no-sidebars wide not-preloader path-node node--type-page">
<a href="#main-content" class="visually-hidden focusable">
Skip to main content
</a>
<div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
<div class="body-page gva-body-page">

<%- include("./partials/navbar.ejs")%>

<div role="main" class="main main-page">
<div class="clearfix"></div>
<div class="help gav-help-region">
<div class="container">
<div class="content-inner">
<div>
<div data-drupal-messages-fallback class="hidden"></div>
</div>
</div>
</div>
</div>
<div class="clearfix"></div>
<div id="content" class="content content-full">
<div class="container-full">
<div class="content-main-inner">
<div id="page-main-content" class="main-content">
<div class="main-content-inner">
<div class="content-main">
<div>
<div id="block-krowd-sub-mainpagecontent" class="block block-system block-system-main-block no-title">
<div class="content block-content">

<article data-history-node-id="2" role="article" typeof="schema:WebPage" class="node node--type-page node--view-mode-full">
<header>
<div class="container">
<h2 class="title"><span><span property="schema:name">Home 2</span>
</span></h2>
</div>
</header>
<div class="node__content clearfix">
<div class="gavias-builder--content"> <div class="gbb-row-wrapper">
<div class=" gbb-row  bg-size-cover el-33951383 ">
<div class="bb-inner remove_padding_row">
<div class="bb-container container-fw">
<div class="row row-wrapper">
<div class="gsc-column el-41027083 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12   ">
<div class="column-inner  bg-size-cover ">
<div class="column-content-inner">
<div class="widget gsc-block-drupal title-align-left  hidden-title-off remove-margin-on text-dark"><div id="block-gaviassliderlayersliderii" class="block block-gavias-sliderlayer block-gavias-sliderlayer-blockgavias-sliderlayer-block____9 no-title">
<div class="content block-content">
<div class="gavias_sliderlayer rev_slider_wrapper fullwidthbanner-container" style="height:938px" data-source="gallery">
<div id="slider-sq3a2" class="rev_slider fullwidthabanner" data-version="5.4.8.1">
<ul>
<li data-transition="3dcurtain-horizontal" data-easein="Power0.easeIn" data-easeout="Power1.easeOut" data-slotamount="default" data-kenburns="off" data-masterspeed="800" data-index="rs-1" data-saveperformance="off">
<img class="rev-slidebg" src="sites/default/files/gva-sliderlayer-upload/slider-3.jpg" alt="" data-bgcolor="#fff" data-duration="400" data-bgparallax="8" data-scalestart="0" data-scaleend="0" data-kenburns="off" data-bgrepeat="no-repeat" style="background-color:#f2f2f2" data-bgfit="cover" data-bgposition="center top" /><div id="slide-44-layer-1" class="tp-caption tp-resizeme text slide-style-3 " data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-voffset="[0,0,0,0]" data-hoffset="[0,0,0,0]" data-x="['0','0','center','center']" data-y="['338', '338', '184', '154']" data-fontsize="['90','90','60','40']" data-lineheight="['90','90','60','40']" data-color="['rgb(255,255,255)','rgb(255,255,255)','rgb(255,255,255)','rgb(255,255,255)']" data-textalign="left" data-responsive_offset="on" style="z-index:3" data-type="text" data-frames='[{"delay":1030,"speed":"600","frame":0,"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","ease":"easeOutExpo"},{"delay":"wait","speed":"600","frame":999,"to":"auto:auto;","ease":"Power0.easeIn"}]'>
Join the Journey<br>
From Idea to<br>
Market</div>
</li>
</ul>
<div class="tp-bannertimer tp-top"></div>
</div>
</div>
<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="text/javascript">

jQuery(document).ready(function($){
    jQuery("#slider-sq3a2").show().revolution({
      sliderType:"standard",
      sliderLayout:"auto",
      dottedOverlay:"none",
      delay: 9000,
      minHeight: 0,
      fullScreenAutoWidth: "auto",
      fullScreenAlignForce: "off",
      fullScreenOffset: "0",
      visibilityLevels:[1240,1240,778,480],
              responsiveLevels:[1240,1240,778,480],
            gridwidth:[1170,1170,778,480],
      gridheight:[938,938,650,650],
      lazyType:"none",
      shadow:0,
      spinner:"spinner0",
      stopLoop:"off",
      stopAfterLoops:-1,
      stopAtSlide:-1,
      shuffle:"off",
      autoHeight:"off",
      disableProgressBar:"off",
      hideThumbsOnMobile:"off",
      hideSliderAtLimit:0,
      hideCaptionAtLimit:0,
      hideAllCaptionAtLimit: 0,
      debugMode:false,
      parallax:{
        type: 'mouse',
        origo: 'slidercenter',
        speed: 2000,
        levels: [4,5,6,7,12,16,10,50,46,47,48,49,50,55],
      },
      navigation: {
        keyboardNavigation:"off",
        keyboard_direction: "horizontal",
        mouseScrollNavigation:"off",
        mouseScrollReverse:"default",
        onHoverStop:"on",
        touch:{
          touchenabled:"on",
          touchOnDesktop:"on",
          swipe_threshold: 75,
          swipe_min_touches: 50,
          swipe_direction: "horizontal",
          drag_block_vertical: false
        },
        bullets: {
          enable:false,
          hide_onmobile:false,
          hide_onleave:false,
          direction:"horizontal",
          h_align:"center",
          v_align:"bottom",
          h_offset:0,
          v_offset:20,
          space: 10
        }
      },
      fallbacks: {
        simplifyAll: "off",
        nextSlideOnWindowFocus: "off",
        disableFocusListener: true,
      }
    });
});

</script>
</div>
</div>
</div> </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</article>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<%-include("./partials/footer.ejs")%>
<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="sites/default/files/js/js_83utVJ3dLBro3cpnRZXUO4YRpvR9Y_oqKWNyDGfoPfg.js"></script>
</body>

<!-- Mirrored from previewthemes.com/krowd/home-2 by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 02 Mar 2022 17:05:21 GMT -->
</html>
